/* Base/Global styles */
html {
  background: var(--figma-color-bg);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 13px;
}

label, span {
  color: var(--figma-color-text);
  font-size: 13px;
}

h1 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
label,
p {
  color: var(--figma-color-text);
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  display: flex;
  flex-direction: column;
}

